.loader {
    position: fixed;
    left: 45%;
    top: 25%;
    border: 15px solid #EAF0F6;
    border-radius: 50%;
    border-top: 15px solid #0066ff;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    z-index: 11;
    margin: auto;
    align-self: center;
    justify-self: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}