<div class="container">
  <div class="preview">
    <div class="wave-bottom"></div>
    <div class="work-time">
      <div class="work-time__title"> Часы приема: </div>
      <div class="work-time__item">вт с 15:00 до 17:30</div>
      <div class="work-time__item">чт c 11:00 до 13:00</div>
      <div class="work-time__list">Запись по телефону: <a href="tel:+79592692515" class="phone">+7
          (959) 269-25-15</a>
      </div>
    </div>
    <div class="wave-top"></div>
  </div>
  <img *ngIf="showElement" [routerLink]="['']" fragment="mainPage" class="top"
    src="assets/icons/up.svg" />
  <app-hot-news id="news"></app-hot-news>
  <app-programs id="programs"></app-programs>
</div>
