<div class="container">
    <div class="content">
        <div routerLink="main" class="title-logo"></div>
        <div class="social">
            <a target="_blank" href="https://ok.ru/group/70000004715340">
                <img src="assets/icons/social/ok.svg" alt="ok icon" class="social__icon">
            </a>
            <a target="_blank" href="https://vk.com/public223052604">
                <img src="assets/icons/social/vk.svg" alt="ok icon" class="social__icon">
            </a>
            <a target="_blank" href="https://t.me/frpLNR">
                <img src="assets/icons/social/telegram.svg" alt="ok icon" class="social__icon">
            </a>
        </div>
        <app-contacts [white]="true"></app-contacts>
    </div>
</div>