<div class="container">
  <div class="content">
    <h1 class="title">Фонд развития промышленности</h1>
    <div class="caption">
      <p>
        Фонд развития промышленности Севастополя - государственная
        некоммерческая организация, созданная в соответствии с распоряжением
        Правительства Севастополя от 09.06.2020 № 56-РП. Главной целью является
        развитие реального сектора экономики города Севастополя в сфере
        промышленности путем предоставления мер поддержки промышленным
        предприятиям.
      </p>
      <p>
        Фонд развития промышленности Севастополя осуществляет финансирование
        проектов, направленных на технологическое перевооружение, модернизацию
        или создание промышленного производства, разработку новой
        высокотехнологичной продукции, импортозамещение, производство
        комплектующих, повышение производительности труда.
      </p>
      <p>
        Для реализации проектов фонд предоставляет займы в размере от 5 - 100
        млн руб., под 1-5% годовых, на срок до 7 лет.
      </p>
    </div>
  </div>
</div>
