<button class="back" (click)="backClicked()"><img src="assets/icons/back.svg" alt="back arrow">Назад</button>
<div class="container">
  <div class="content">
    <h1 class="title">Фонд развития промышленности</h1>
    <div class="caption">
      <p>
        Фонд развития промышленности Луганской Народной Республики - некоммерческая организация, созданная в соответствии с распоряжением
        Правительства Луганской Народной Республики от 14.07.2023 № 31-р/23 
        «О фонде развития промышленности Луганской Народной Республики». Главной целью является
        развитие реального сектора экономики Луганской Народной Республики в сфере
        промышленности путем предоставления мер поддержки промышленным
        предприятиям.
      </p>
      <p>
        Фонд развития промышленности Луганской Народной Республики осуществляет финансирование
        проектов, направленных на технологическое перевооружение, модернизацию
        или создание промышленного производства, разработку новой
        высокотехнологичной продукции, импортозамещение, производство
        комплектующих, повышение производительности труда.
      </p>
      <p>
        Для реализации проектов фонд предоставляет займы в размере от 5 - 100
        млн руб., под 1-2% годовых, на срок до 7 лет.
      </p>
    </div>
  </div>
</div>
